<div class="container ">
    <h3 class="mt-10 mb-4">{{.Params.slidingDoorsHead}}</h3>
    <h5>{{.Params.slidingDoorsHead1}}</h5>
    <p class="mt-4 lg:ml-10 text-justify">{{.Params.slidingPara}}</p>
       <div class="lg:ml-10 mt-4"><a href="/contact/">Request Quote..</a></div>
       <div class="mt-5 flex flex-col">
        <div class="relative max-h-full bg-cover object-bottom w-full  repeat-no-repeat my-6 ">
            <img src="/images/sec-doors/sliding-door/TENTUFF-Sliding-Door-Slidpg.jpg"
                class="foto w-full h-full object-cover shadow"
                alt="description" />
        </div>
        <div>
        <iframe class=" my-10 relative" id="video"
          src="https://www.youtube.com/embed/8NQpk9ajHcs?enablejsapi=1&amp;rel=0"  width="100%"
          height="315" frameborder="0"></iframe>
        </div>
        
</div>
</div>
</div>
<div class="bg-gray-50 py-14 ">
    <div class="container ">
    <h5 class="text-center md:py-6 sm:py-4">{{.Params.slidingDoorsHead1}}</h5>
<div class=" flex lg:flex-row sm:flex-col lg:w-1/2 gap-4 sm:ml-10 md:ml-0 lg:ml-0" >
    
    <img src="/images/Sliding-Security-Door-Main-Tentuff-LR.jpg"
        class="foto w-full h-full object-cover pb-4"
        alt="description" />
    
    
        <img alt="TENTUFF Hinged Security Door Animation"
    src="/images/Sliding-Door-1.gif" >

</div>
</div>
</div>