<div class="container">
  <div class="mt-20 mb-6">
    <h4 class="text-center">Colors to match your style</h4>
    <div class="my-10 grid md:grid-cols-7 gap-4 text-xs sm:grid-cols-3">
      <div class="bg-gray-800 p-4 shadow text-white">
        Matt&nbsp;&nbsp; &nbsp; SN25AN <br />
        Black
      </div>
      <div class="p-4 bg-custom-yellow text-white shadow">
        Matt&nbsp;&nbsp; &nbsp; SDA53N <br />
        PMChampagn
      </div>
      <div class="p-4 bg-custom-white shadow">
        Semi Glossy &nbsp;&nbsp; &nbsp; SC11AN <br />
        White RAL 9002
      </div>
      <div class="p-4 bg-custom-grey shadow">
        Semi Glossy&nbsp;&nbsp; &nbsp; SC12AN <br />
        White RAL9001
      </div>
      <div class="p-4 bg-custom-orange shadow">
        Semi Glossy &nbsp;&nbsp; &nbsp; SC17AN <br />
        White RAL 9010
      </div>
      <div class="p-4 bg-custom-ivory shadow">
        Semi Glossy&nbsp;&nbsp; &nbsp; SD10AN <br />
        Ivory RAL 1013
      </div>
      <div class="p-4">& More</div>
    </div>
  </div>
</div>
<div class="bg-securitybg bg-repeat md:bg-repeat">
  <div class="container md:px-60">
    <div class="flex flex-col place-items-center ">
      <div class="my-6">
        <button
          class="bg-gradient-to-r from-yellow-400 to-yellow-600 text-white hover:text-gray-600 m-4 rounded px-5 py-2 outline-none focus"
        >
          Request a free Quote >
        </button>
      </div>

      <div class="relative mb-20" style="width:100px; height:50px">
        <img
          src="/images/TENTUFF-WARRANTY-10years-LR.png"
          class=""
          alt="TENTUFF Warranty 10 Years"
        />
      </div>
    </div>
  </div>
</div>
