<header class="bg-gray-50 items-center">
  <div class="md:flex items-center container  justify-between flex-wrap  p-4">
<div class="flex items-center flex-no-shrink  mr-6">
<!--logo-->
<a href="{{ .Site.BaseURL }}">
      <a href="#" class="lg:ml-4 flex items-center justify-start lg:mb-0 mb-4 pointer-cursor">
  <img class=" w-24 h-19 border-2 border-transparent" src="/images/home-image/tentuff-logo.png" alt="">
</a>   
</div>

<label for="menu-toggle" class="flex flex-row-reverse justify-start -mt-10 z-10 pointer-cursor lg:hidden inline-block ">
  <svg class="fill-current  text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
  <input class="hidden" type="checkbox" id="menu-toggle" />

<nav class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu"> 
<!--navitem-->
<ul class=" md:flex w-full md:w-auto text-left  md:mt-0   border-none">   
<li><a href="{{ .Site.BaseURL }}" class="block md:inline-block text-gray-900 hover:text-blue-500 px-2 py-3 border-none">Home</a></li>
<!--product list-->
<li class="dropdown inline-block  text-gray-900 hover:text-blue-500 px-3 py-3  md:border-none"><a class="text-gray-900">Products <i class="fa fa-caret-down menu-downicon pl-0.5"></i></a>
<ul class="dropdown-content md:fixed hidden text-gray-900  pt-16  pl-0 -ml-40 md:-mt-8 sm:relative z-10 pl-44 sm:-mt-16">
<li class="dropdown bg-gray-100 border-b border-r border-gray-300 hover:bg-gray-200 block whitespace-no-wrap py-1 px-2 "><a class="text-gray-900" href="/securitydoors/" >Security doors <i class="fa fa-caret-right menu-righticon pl-0.5"></i> </a>
<ul class="dropdown-content md:fixed hidden text-gray-900  pt-3.5 pl-0.5 ml-36 -mt-9 md:pl-0.5 sm:fixed pt-1  -mt-10">
  <li class="bg-gray-100 border-b border-r border-gray-300 text-gray-900 hover:bg-gray-200 block whitespace-no-wrap py-1 px-2"><a class="text-gray-900" href="/hingeddoors/" >Hinged security doors</a></li>
  <li class="bg-gray-100 border-b border-r border-gray-300 text-gray-900 hover:bg-gray-200 block whitespace-no-wrap py-1 px-2"><a class="text-gray-900" href="/slidingdoors/" >Sliding security doors</a></li>
  <li class="bg-gray-100 border-b border-r border-gray-300 text-gray-900 hover:bg-gray-200 block whitespace-no-wrap py-1 px-2"><a class="text-gray-900" href="/frenchdoors/" >French security doors</a></li>
  <li class="bg-gray-100 border-b border-r border-gray-300 text-gray-900 hover:bg-gray-200 block whitespace-no-wrap py-1 px-2"><a class="text-gray-900" href="/bifolddoors/" >Bi-fold security doors</a></li>
</ul>
</li>
  <li class="dropdown bg-gray-100 border-b border-r border-gray-300  hover:bg-gray-200  block whitespace-no-wrap py-1 px-2"><a class="text-gray-900"href="/securitywindows/">Security Windows <i class="fa fa-caret-right menu-righticon pl-0.5"></i></a>
  <ul class="dropdown-content md:fixed hidden text-gray-900 pt-3.5 pl-0.5 ml-36 -mt-7 sm:fixed pt-1 ml-36 -mt-10">
    <li class="bg-gray-100 border-b border-r border-gray-300  hover:bg-gray-200  block whitespace-no-wrap py-1 px-2"><a class="text-gray-900"href="/hingedwin/" >Hinged security windows</a></li>
    <li  class="bg-gray-100 border-b border-r border-gray-300  hover:bg-gray-200  block whitespace-no-wrap py-1 px-2"><a class="text-gray-900" href="/fixedwin/">Fixed security windows</a></li>
  </ul>
</li>
  <li class="bg-gray-100 border-b border-r border-gray-300  hover:bg-gray-200  block whitespace-no-wrap py-1 px-2"><a class="text-gray-900" href="/patio/" >Patio Enclosure</a></li>
  <li class="bg-gray-100 border-b border-r border-gray-300 hover:bg-gray-200  block whitespace-no-wrap py-1 px-2"><a class="text-gray-900 " href="/escape/" >Escape Windows</a></li>
  <li class="bg-gray-100 border-b border-r border-gray-300 hover:bg-gray-200  block whitespace-no-wrap py-1 px-2"><a class="text-gray-900 " href="/prevent/" >Pre-vent</a></li>
</ul>

</li>
<!--product ends-->
<li><a href="/assurance/" class="block md:inline-block text-gray-900 hover:text-blue-500 px-2 py-3  md:border-none">Assurance</a></li>
<li><a href="/gallery/" class="block md:inline-block text-gray-900 hover:text-blue-500 px-2 py-3  md:border-none">Gallery</a></li>
<li><a href="/compare/" class="block md:inline-block text-gray-900 hover:text-blue-500 px-2 py-3  md:border-none">comparison</a></li>
<li><a href="/testing/" class="block md:inline-block text-gray-900 hover:text-blue-500 px-2 py-3 md:border-none">Testing</a></li>
<li><a href="/warrenty/" class="block md:inline-block text-gray-900 hover:text-blue-500 px-2 py-3  md:border-none">Warranty&Care</a></li>
<li><a href="/contact/" class="block md:inline-block text-gray-900 hover:text-blue-500 px-2 py-3  md:border-none">Contact Us</a></li>

</ul> 
</nav>
  </div>
</header>



<style>
  
  </style> 
 

<!--<style>
  .active {
      display: block;
  }
  </style>-->
  
  <!--<ul class="dropdown inline-block relative">
    <a class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center">
      <span>products</span>
    </a>
    <ul class="dropdown-content absolute hidden text-gray-700 pt-1">
      <li><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">security doors</a></li>
      <li><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">security win</a></li>
          <li class="dropdown">
            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">security win1 🠞</a>
              <ul class="dropdown-content absolute hidden text-gray-700 pl-5 ml-24 -mt-10">
                <li><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">hingedwin</a>
                  <li><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">fixedwin</a>
              </ul>
          </li>
      <li><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">escape</a></li>
    </ul>
  </ul>-->