<div class="container  ">
    <h3 class="mt-10 mb-4">{{.Params.fixedWinHead}}</h3>
    <h5 class="mb-4">{{.Params.fixedWinHead1}}</h5>
    <p class="lg:ml-10 text-justify"> {{.Params.fixedWinPara}}</p>
    <div class="lg:ml-10 mb-6 mt-4"><a href="/contact/">Request Quote..</a></div>
      
        
        <div class=" md:flex pt-10">
           <div>
            <img src="/images/sec-windows/fixed-sec-window/Fixed-Security-Windows-Main-Tentuff-LR.png"
                class="foto w-full h-full object-cover"
                alt="description" />
            </div>
            
        <div class="ml-10">
            <h5 class="text-center mb-6">{{.Params.fixedWinHead2}}</h5>
                <img alt="TENTUFF Hinged Security Door Animation"
            src="/images/sec-windows/fixed-sec-window/TENTUFF-FIXED-WINDOW-ANIMATION.gif" >
      
        </div>
       </div>
</div>