
<div class="container">
<div class="lg:flex">
      <div class=" w-auto lg:w-2/5 s:w-full">
        <img class=" my-10  lg:w-full h-32 sm:w-1/2 border-2 border-transparent" src="/images/home-image/tentuff-logo.png" alt="">
       
            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">   <!-- Article -->
            <article class="items-center justify-center">

                <i class="bg-gray-800 p-30 rounded-full h-24 w-24 ml-5 mt-3 flex items-center justify-center text-white fa fa-eye fa-4x" aria-hidden="true"></i>

                <footer class="flex  text-center bg-gray-100 text-gray-900 md:p-4">
                    
                    <p> Seamless<br/> View</p>
                </footer>
            </article>
            <!-- END Article -->
            <!-- Article -->
            <article class=" items-center justify-center">

                <i class="bg-gray-800 p-30 rounded-full h-24 w-24 ml-5 mt-3 flex items-center justify-center text-white fa fa-eye fa-4x" aria-hidden="true"></i>

                <footer class="flex items-center bg-gray-100 text-gray-900 md:p-4">
                    
                    <p> Seamless View</p>
                </footer>
            </article>
            <!-- END Article -->
            <!-- Article -->
            <article class=" items-center justify-center">

                <i class="bg-gray-800 p-30 rounded-full h-24 w-24 ml-5 mt-3 flex items-center justify-center text-white fa fa-eye fa-4x" aria-hidden="true"></i>

                <footer class="flex items-center bg-gray-100 text-gray-900 md:p-4">
                    
                    <p> Seamless View</p>
                </footer>
            </article>
            <!-- END Article -->
        </div>
        
    </div>
    <!-- content Area-->
      <div class="p-4 w-auto sm:w-full lg:w-3/5 my-6 lg:ml-10">
<h2 class=""> {{.Params.compareh1}}</h2>
<p class="my-4 text-left"> {{.Params.comparep1}}</p>
<p class="mb-4 text-left">{{.Params.comparep2}} </p>
    <h5 class=" text-left">{{.Params.compareH}}</h5><span><p>{{.Params.comparep3}}</p></span>
    

<h5 class="text-left">{{.Params.compareH}}</h5>
    <p>{{.Params.comparep4}}</p>
    <h5 class="mt-4">{{.Params.compareh2}}</h5>
        <p class="mb-4">{{.Params.comparep5}} <span class="font-semibold">{{.Params.phone1}}</span> {{.Params.comparep51}}<br/>
            <span class="font-semibold">  {{.Params.addres}}</span><br/>
    <br/>
    {{.Params.comparep6}}</p>
<h5 class="my-4">{{.Params.compareh3}} </h5>
<div class="grid md:grid-cols-2 gap-6">
    <ul class="list-disc ml-4">
       <li>{{.Params.comparel1}}</li> 
       <li>{{.Params.comparel2}}</li> 
       <li>{{.Params.comparel3}}</li> 
       <li>{{.Params.comparel4}}</li> 
    </ul>
    <ul class="list-disc">
        <li>{{.Params.comparel5}}</li> 
        <li>{{.Params.comparel6}}</li> 
        <li>{{.Params.comparel7}}</li> 
        <li>{{.Params.comparel8}}</li> 
     </ul>
</div>
      </div>
    </div>
</div>