
<div class="container pb-10">
  <div class="pb-10">
  <img src="/images/landingpage/sideByside.jpg"class="foto w-full h-full object-cover rounded shadow-md"
                        alt="description" />
  </div>
<div>
  <p class="mt-6">{{.Params.comparepara1}}<br/> <br/><span class="text-blue-500">{{.Params.comparepara2}}</span> </p>
</div> </br>
<table class="rounded-t-lg     bg-white text-gray-800 ">
  
<tr class="text-left border-b bg-yellow-200  border-yellow-300">
      <th></th>
      <th class="px-4 py-3">Features</th>
      <th class="px-4 py-3">Pros</th>
      <th class="px-4 py-3">Cons</th>
      
    </tr>
    
    <tr class="bg-white border-b border-yellow-100">
      <td class="px-4 py-3"><ul><li>
        Steel Security Door
      </li>
      <td class="px-4 py-3"><ul class="list-disc"><li>
        Solid Steel Security Door
      </li>
    <li>
      Commercial grad
    </li></td>
      <td class="px-4 py-3"><ul class="list-disc sm:list-disc md:list-decimal lg:list-disc xl:list-disc"><li>
        Extremely sturdy
      </li>
    <li>
      All hardware included
  </li></td>
      <td class="px-4 py-3"><ul class="list-disc sm:list-disc md:list-decimal lg:list-disc xl:list-disc"><li>
        Swing and handing cannot be altered
      </li>
    </td>
   
    </tr> 
  <!-- each row -->
    <tr class="bg-yellow-50 border-b border-yellow-100">
      <td></td>
      <td class="px-4 py-3"><ul class="list-disc sm:list-disc md:list-decimal lg:list-disc xl:list-disc">
        <li> Z-Bar frame</li>
        <li> Shatter-proof glass inlay
        </li>
      </ul></td>
      <td class="px-4 py-3"><ul class="list-disc sm:list-disc md:list-decimal lg:list-disc xl:list-disc">
        <li>
          Elegant way to keep glass away from lock mechanism

        </li>
        <li>
          One-directional screws

        </li>
      </ul></td>
      <td class="px-4 py-3">
        <ul class="list-disc sm:list-disc md:list-decimal lg:list-disc xl:list-disc"><li>
          Front-mounted
        </li></ul>
      </td>
      
    </tr> 
  <!-- each row -->
  <td></td>
  <tr class=" border-b border-yellow-100">
    <td></td>
    <td class="px-4 py-3"><ul class="list-disc sm:list-disc md:list-decimal lg:list-disc xl:list-disc">
      <li> Functional design</li>
      <li> Shatter-proof glass</li>
    </ul></td>
    <td class="px-4 py-3"><ul class="list-disc sm:list-disc md:list-decimal lg:list-disc xl:list-disc">
      <li>
        Hidden, tamper-proof hinges
      </li>
      <li>
        Extreme weatherproofing
      </li>
    </ul></td>
    <td class="px-4 py-3">
      <ul class="list-disc sm:list-disc md:list-decimal lg:list-disc xl:list-disc"><li>
        Exposed glass near lock assembly

      </li></ul>
    </td>
    
  </tr> 
    <tr class="bg-yellow-50 border-b border-yellow-100">
      <td></td>
      <td class="px-4 py-3"><ul class="list-disc sm:list-disc md:list-decimal lg:list-disc xl:list-disc">
        <li> Steel frame and mesh with wooden outer layer</li>
        <li> Front-mounted</li>
      </ul></td>
      <td class="px-4 py-3"><ul class="list-disc sm:list-disc md:list-decimal lg:list-disc xl:list-disc">
        <li>
          Wooden layer makes for good design
        </li>
        <li>
          Easy installation

        </li>
      </ul></td>
      <td class="px-4 py-3">
        <ul class="list-disc sm:list-disc md:list-decimal lg:list-disc xl:list-disc"><li>
          Thin mesh might be security risk
      </li>
    <li>Easy to remove the whole door structure from outside
    </li></ul>
      </td>
    </tr> 
  
  </table>
</div>
  