<div class="container md:px-60">
  <div>
    <div class="mt-5 flex md:flex-row sm:flex-col gap-8 ml-0 sm:ml-20 md:ml-40">
      <div class="relative" style="width: 300px; height: 300px">
        <img
          src="/images/gallery/Tentuff-Security-Windows-1LR.jpg"
          class="foto w-full h-full object-cover rounded shadow-md"
          alt="description"
        />
      </div>
      <div class="relative" style="width: 300px; height: 300px">
        <img
          src="/images/gallery/Security-doors-French-Tentuff-LR.jpg"
          class="foto w-full h-full object-cover rounded shadow-md"
          alt="description"
        />
      </div>
</div>
<div class="mt-5 flex md:flex-row sm:flex-col gap-8 ml-0 sm:ml-20 md:ml-40">
      <div class="relative" style="width: 300px; height: 300px">
        <img
          src="/images/gallery/Security-doors-Hinged-Tentuff451-264.png"
          class="foto w-full h-full object-cover rounded shadow-md"
          alt="description"
        />
      </div>
      <div class="relative" style="width: 300px; height: 300px">
        <img
          src="/images/gallery/HINGED-DOOR-TENTUFF-4-1.png"
          class="foto w-full h-full object-cover rounded shadow-md"
          alt="description"
        />
    </div>
      </div>
    </div>
  </div>
</div>

<!--<section class="pt-8 px-4">
    <div class="flex flex-wrap -mx-4">
      <div class="md:w-1/2 px-4 mb-8"><img class="rounded shadow-md" src="/images/gallery/Tentuff-Security-Windows-1LR.jpg" alt=""></div>
      <div class="md:w-1/2 px-4 mb-8"><img class="rounded shadow-md" src="/images/gallery/Security-doors-Hinged-Tentuff451-264.png" alt=""></div>
      <div class="md:w-1/2 px-4 mb-8"><img class="rounded shadow-md" src="/images/gallery/Security-doors-French-Tentuff-LR.jpg" alt=""></div>
      <div class="md:w-1/2 px-4 mb-8"><img class="rounded shadow-md" src="/images/gallery/HINGED-DOOR-TENTUFF-4-1.png" alt=""></div>
      
    </div>
  </section>-->
