<div class="container ">
    <h3 class="mt-10 mb-4">{{.Params.frenchHead}}</h3>
    <h5 class="mb-4">{{.Params.frenchPara}}</h5>
    <p class="lg:ml-10 text-justify">{{.Params.frenchPara1}}</p>
       <div class="lg:ml-10 mt-4"><a href="/contact/">Request Quote..</a></div>
       <div class="mt-5 flex flex-col">
        <div class="relative max-h-full bg-cover object-bottom w-full  repeat-no-repeat my-6 ">
            <img src="/images/TENTUFF-FRENCH-SECURITY-DOORS-CLOSEUP-LR.jpg"
                class="foto w-full h-full object-cover"
                alt="description" />
        </div>
        
        
</div>
</div>
<div class="bg-gray-50">
    <div class="container  my-10">
    <div class="relative flex flex-row gap-3 w-1/2 py-10">
        
        <img src="/images/sec-doors/french-door/TENTUFF-French-Door-pg.jpg"
            class="foto w-full h-full object-cover"
            alt="description" />
      
        
            <img alt="TENTUFF Hinged Security Door Animation"
        src="/images/TENTUFF-FRENCH-DOOR-Animation.gif" >
   
   </div>
</div>
</div>