
<div class="container mx-auto px-4 md:px-12">
    <h3 class="mt-10 mb-4">{{.Params.hingedHead}}</h3>
    <h5 class="mb-4">{{.Params.hingedHead1}}</h5>
    <p class="lg:ml-6">{{.Params.hingedPara}}</p>
       <div  class="my-4 lg:ml-6"><a href="/contact/">Request</a></div>
       <div class="flex flex-col">
       <div class="mt-5 mb-8  ">
        
            <img  class="foto w-full h-full object-cover  shadow-md" src="/images/sec-doors/hing-door/TENTUFF-Hinged-Doorpg-Main-Img.jpg"
                class="foto w-full h-full object-cover  shadow-md"
                alt="description" />
        
      
       </div>
        <div>
        <iframe class="" id="video"
          src="https://www.youtube.com/embed/uNhYp3fXqWY?enablejsapi=1&amp;rel=0"  width="100%"
          height="315" frameborder="0"></iframe>
        </div>
       
            <h5 class="my-4 text-center">{{.Params.hingedImghead}}</h5>
        <div class="grid grid-cols-2 ">
            
            <img src="{{.Params.hingedImg1}}"
                class=" w-full h-full object-fill"
                alt="description" />
                <img  class="foto w-full h-full object-cover  shadow-md"alt="TENTUFF Hinged Security Door Animation"
            src="{{.Params.hingedImg2}}">
        </div>
    </div>  
    
</div>
