
<section class="container ">
    <h4 class="mt-10 mb-4">{{.Params.warrantyHead1}}</h4>
    <p class="mb-6 text-justify">{{.Params.warrantyPara1}}</p>

    <h5 class="mb-4">{{.Params.warrantyHead2}}</h5>
    <p class="mb-6 text-justify">{{.Params.warrantyPara2}}</p>

    <h5 class="mb-4">{{.Params.warrantyHead3}}</h5>
    <p class="mb-6 text-justify">{{.Params.warrantyPara3}}</p>
    <h5 class="mb-4">{{.Params.warrantyHead4}}</h5>
    <p class="mb-6 text-justify">{{.Params.warrantyPara4}}</p>
    <h5 class="mb-4">{{.Params.warrantyHead4}}</h5>
    <p class="mb-2 text-justify">{{.Params.warrantyPara5}}</p>
    <p class="mb-6  text-justify">{{.Params.warrantyPara6}}</p>
</section>
