
<div class="container ">
    <h3 class="mt-10 mb-4">{{.Params.hingedWinHead}}</h3>
    <h5 class="mb-4">{{.Params.hingedWinHead1}}</h5>
    <p class="lg:ml-10 text-justify">{{.Params.hingedWinPara}}</p>
       <div class="lg:ml-10 mb-10 mt-4"><a href="/contact/">Request Quote..</a></div>
      
        
        <div class=" md:flex ">
           <div>
            <img src="/images/sec-windows/hing-sec-window/Hinged-Sec-windpg-hing-img.png"
                class="foto w-full h-full object-cover"
                alt="description" />
          
            </div>
              <div class="ml-10"> 
                <h5 class="mb-4 text-center">{{.Params.hingedWinHead2}}</h5>
                <img alt="TENTUFF Hinged Security Door Animation"
            src="/images/sec-windows/hing-sec-window/TENTUFF-HINGED-WINDOW-Animation.gif" >
      
        </div>
      
</div>
</div>